* {
    margin: 0;
    padding: 0;
}

html {
   height: 100%;
   width: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    background-color: #1a1a1b;
    font-family: "Monstserrat", sans-serif;
    color: white;
}


header {
    display: flex;
    height: 6vh;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    box-shadow: 0px 5px 10px -10px black;
    padding: 0px 10px 0px 10px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
}
header nav ul > li {
    list-style: none;
    font-size: 20px;
}

#bodyContainer {
    height: calc(100vh - 6vh);
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

button {
    all: unset;
    height: 58px;
    cursor: pointer;
    color: #b47cfb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    width: 100%;
    margin: 0 auto 1em;
    justify-content: space-between;
    border: 0;
    padding: 0;
    align-items: center;
}
.key {
    background-color: #333;
    flex: 1;
    margin: 0 3px;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 1px 2px 1px 1px black;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputs {
    display: flex;
}

#input {
    width: 1.5em;
    height: 1.5em;
    font-size: 2em;
    margin: 5px;

    border: 1px solid black;
    border-radius: 10px;
    background-color: #333;

    display: flex;
    align-items: center;
    justify-content: center;

    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
    box-shadow: 1px 2px 1px 1px black;
}

#input:focus {
    outline: none;
}