body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

button {
    all: unset;
    height: 58px;
    cursor: pointer;
    color: #8e57f7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row {
    display: flex;
    width: 100%;
    margin: 0 auto 1em;
    justify-content: space-between;
    border: 0;
    padding: 0;
    align-items: center;
}
.key {
    background-color: #333;
    flex: 1;
    margin: 0 3px;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputs {
    display: flex;
}

#input {
    width: 1.5em;
    height: 1.5em;
    font-size: 2em;
    margin: 5px;
    background-color: wheat;
    color:#333;
    border: 2px solid #333;
}
